<a href="exampletest.htm">run all hql to verify.</a>
#if($!status=="ok")
    <br/>
    last test at $!nowTime. test ok!
    <br/>
#end
 
#if($!status=="error")
  <pre>
	$!exception
	
  </pre>
#end

<h1>INSERT</h1>
<pre>   
   INSERT INTO tablename cidList VALUES constant2List ROWKEY IS rowkeyexp ( TS IS tsexp ) ?	
   
   #foreach( $hql in $!insertHqls )
   $hql
   
   #end
   
</pre>

<h1>SELECT</h1>
<pre>
   SELECT selectCidList FROM tablename ( wherec ) ? rowkeyrange ( maxversionexp) ?  (tsrange) ? (limitexp) ?
   
   #foreach( $hql in $!selectHqls )
   $hql
   
   #end
</pre>  


<h1>DELETE</h1>
<pre>
   DELETE selectCidList FROM tablename ( wherec ) ? rowkeyrange ( TS IS tsexp ) ?

   #foreach( $hql in $!deleteHqls )
   $hql
   
   #end
</pre> 

<h1>ConsumeRecord</h1>
<pre>
   #foreach( $hql in $!consumeRecordHqls )
   $hql
   
   #end
</pre>

<h1>BillCategory</h1>
<pre>
   #foreach( $hql in $!billCategoryHqls )
   $hql
   
   #end
</pre>



