<h1>command</h1>

select statement to execute it or submit it directly.

<form action="query.htm" method="post">

	<input id="commandInput" type="hidden" name="command" value=""/>	
	
	<br/>	
	<textarea id="fullCommandTextarea" name="fullCommand" rows="10" cols="200">$!commandForm.fullCommand</textarea>		
	<br/>	
	columnMode <input type="checkbox" name="columnMode" #if($!commandForm.columnMode=='true')checked #end value="true" />
	<br/>
	<input type="submit" value="Submit" />	
</form>

#if($!commandForm.command)
    <h1>log</h1>
    last statement at $!nowTime : 
	<br/>	
	<b>$!commandForm.command</b>
	<br/>	
	result is
	<br/>	
    #if($!status=="ok")
        ok!
    #else
    <pre>
    	$!exception
    </pre>	
    #end
    <br/>		
#end	

<h1>info</h1>
#if($!allFamilyAndQualifierName && $!allFamilyAndQualifierName.size()>0)

    #set($list_size= $!resultList.size() - 1) 
    
    #if($!commandForm.columnMode=='true')
        <table border="1">
        <tr>
            <th align="left">rowKey</th>
            #foreach( $i in [ 0 .. $list_size] )        
                <th align="left">$!resultList.get($i).rowkey</th>
            #end
        </tr>  
        
        <tr>
            <th align="left">timestamp</th>
            #foreach( $i in [ 0 .. $list_size] )        
                <th align="left">$!resultList.get($i).getTsString() </th>
            #end            
        </tr>
        
        #foreach($c in $!allFamilyAndQualifierName)     
            <tr>        
            <th align="left">$c</th>
            #foreach( $i in [ 0 .. $list_size] )        
                <th align="left">$!resultList.get($i).findValue($c) </th>
            #end            
            </tr>
        #end
        
        </table>    
    #else
    
        <table border="1">
        <tr>    
        <th align="left">rowKey</th>
        <th align="left">timestamp</th>
        #foreach($c in $!allFamilyAndQualifierName)
            <th align="left">$c</th>
        #end    
        </tr>
  
        #foreach($wcell in $!resultList)
            <tr>    
            <th align="left">$wcell.rowkey</th>
            <th align="left">$wcell.getTsString()</th>
            #foreach($c in $!allFamilyAndQualifierName)   
                <th align="left">$wcell.findValue($c)</th>
            #end 
            </tr>
        #end
        </table>      

    #end
#end

#if($!countResult)
	$!countResult
#end

#if($!countSumResult)
	#foreach($value in $!countSumResult)
		$value   
	#end	
#end


<script type="text/javascript">

window.onselect = selectText;
function selectText(e)
{    
    start = e.target.selectionStart;
    end = e.target.selectionEnd;    
	var commandInput=document.getElementById("commandInput");
	commandInput.value=e.target.value.substring(start, end);
}
</script>



